<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="styles/data.css">
  <link rel="stylesheet" type="text/css" href="styles/sweetalert.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>SIMAMAT</title>
</head>

<body>
  <div id="header" class="row">
    <div class="col s3">
      <img src="images/pic_pojok.png" id="pic_pojok">
    </div>
    <div class="col s3">
      <div id="welcome" class="valign-wrapper">
        <i id="img-orang" class="material-icons bulet">accessibility</i>
        <span><span id="welcome-text">Selamat Datang,</span> {{user.role}}</span>
      </div>
    </div>
    <div class="col s6">
      <div id="logout-text" class="valign-wrapper right">
        <a href="/logout" style="color: inherit">Logout</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="kiri" class="col s3">
      <ul class="collection">
        <li class="collection-item valign-wrapper" id="navigasi">Navigasi</li>
        {{#each navigasi}}
          <a id="{{aid}}" href="{{href}}" style="color: inherit">
            <li class="collection-item valign-wrapper {{class}}">
              <i class="material-icons bulet">{{icon}}</i> {{nama}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
    <div id="kanan" class="col s9">
      <div id="header_right" class="valign-wrapper">
        <div class="col {{#if dataContent.manajer}} s2 {{else}} s3 {{/if}}" id="sub-judul">
          <p>{{dataContent.title}}</p>
        </div>
        <div class="col {{#ifOr dataContent.manajer dataContent.kasir}} s3 {{/ifOr}} {{#ifNot2 dataContent.manajer dataContent.kasir}} s7 {{/ifNot2}}" style="margin-left: 0">
          <div class="input-field valign-wrapper">
            <label class="label-icon" for="search">
              <i class="material-icons" id="search-icon">search</i>
            </label>
            <input id="search" type="search" onkeyup="searchTable()" placeholder="{{dataContent.search-placeholder}}" required>
            <i class="material-icons" id="close-icon" onclick="clearInput()">close</i>
          </div>
        </div>
        {{#if dataContent.btn-left}}       
        <div class="col s6 l5">
          <a class="waves-effect btn sm-text-capitalize" id="cetak_data_barang_btn">{{dataContent.btn-left}}</a>
        </div>
        {{/if}}
        {{#if dataContent.btn-right}}
        <div class="col s7" style="padding-left: 0">
          <a class="waves-effect btn sm-text-capitalize modal-trigger" id="right-btn" href="#modal-create-data"><i class="material-icons right" id="add-icon">add</i>{{dataContent.btn-right}}</a>
        </div>
        {{/if}}
      </div>
      <div class="row">
        <table class="bordered striped centered responsive-table" id="table_data">
          <thead>
            <tr>
              {{#each dataTR}}
                <th>{{tr}}</th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{#each data}}
            <tr>
              {{#if nama_barang}}
                <td class="data_td">{{id}}</td>
                <td class="data_td">{{nama_barang}}</td>
                <td class="data_td">{{stok}}</td>
                <td class="data_td">{{stok_opname}}</td>
                <td class="data_td">{{kategori}}</td>
              {{/if}}
              {{#if username}}
                <td class="data_td">{{id}}</td>
                <td class="data_td">{{username}}</td>
                <td class="data_td">{{nama}}</td>
                <td class="data_td">{{no_ktp}}</td>
                <td class="data_td">{{role}}</td>
              {{/if}}
              <td class="aksi-icon-padding">
                <a class="modal-trigger lihat_data_trigger" href="#modal-lihat-data"><i class="material-icons aksi-icon">remove_red_eye</i></a>
                {{#unless ../dataContent.kasir}}
                  <a class="modal-trigger edit_data_trigger" href="#modal-edit-data"><i class="material-icons aksi-icon">mode_edit</i></a>
                  <a class="modal-trigger delete_data_trigger" href="#modal-delete"><i class="material-icons aksi-icon">delete</i></a>
                {{/unless}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- declare let data at delete notification partials -->
  {{> modal_delete_notification this}}
  {{> modal_lihat_data this}}
  {{> modal_create_data this}}
  {{> modal_edit_data this}}
  {{> modal_kelola_password this}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/sweetalert.min.js"></script>
  <script type="text/javascript" src="js/dashboard/dashboard.js"></script>
  <script type="text/javascript" src="js/table_to_excel.js"></script>
</body>
</html>
