<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="styles/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="styles/data.css">
  <link rel="stylesheet" type="text/css" href="styles/sweetalert.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style media="screen">
    .select-wrapper input.select-dropdown {
      margin: 0 !important;
      border: none;
      text-align: center;
    }
    .role_dropdown{
      padding-right: 50px;
    }
    </style>
</head>

<body>
  <div id="header" class="row">
    <div class="col s3">
      <img src="images/pic_pojok.png" id="pic_pojok">
    </div>
    <div class="col s3">
      <div id="welcome" class="valign-wrapper">
        <i id="img-orang" class="material-icons bulet">accessibility</i>
        <span><span id="welcome-text">Selamat Datang,</span> {{user.role}}</span>
      </div>
    </div>
    <div class="col s6">
      <div id="logout-text" class="valign-wrapper right">
        <a href="/logout" style="color: inherit">Logout</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="kiri" class="col s3">
      <ul class="collection">
        <li class="collection-item valign-wrapper" id="navigasi">Navigasi</li>
        {{#each navigasi}}
          <a href="{{href}}" style="color: inherit">
            <li class="collection-item valign-wrapper {{class}}">
              <i class="material-icons bulet">{{icon}}</i> {{nama}}
            </li>
          </a>
        {{/each}}
      </ul>
    </div>
    <div id="kanan" class="col s9">
      <div id="header_right" class="valign-wrapper">
        <div class="col s4" id="sub-judul">
          <p>{{dataContent.title}}</p>
        </div>
      </div>
      <div class="row">
        <table class="bordered striped centered responsive-table" id="table_data">
          <thead>
            <tr>
              {{#each dataTR}}
                <th>{{tr}}</th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{#each data}}
            <tr>
                <td class="{{id}}">{{id}}</td>
                <td class="data_td">{{username}}</td>
                <td class="data_td">{{nama}}</td>
                <td class="role_dropdown">
                  <select id="{{id}}" style="margin-bottom: 0" onchange="updateRole(this, '{{id}}')">
                    <option value="Admin" {{#ifCond role "Admin"}} disabled selected {{/ifCond}}>Admin</option>
                    <option value="Manajer" {{#ifCond role "Manajer"}} disabled selected {{/ifCond}}>Manajer</option>
                    <option value="Staf Gudang" {{#ifCond role "Staf Gudang"}} disabled selected {{/ifCond}}>Staf Gudang</option>
                    <option value="Bendahara" {{#ifCond role "Bendahara"}} disabled selected {{/ifCond}}>Bendahara</option>
                    <option value="Member" {{#ifCond role "Member"}} disabled selected {{/ifCond}}>Member</option>
                    <option value="Member" {{#ifCond role "Kasir"}} disabled selected {{/ifCond}}>Kasir</option>
                  </select>
                </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- declared 'let data' at delete notification partials -->
  {{> modal_delete_notification this}}
  {{> modal_lihat_data this}}
  {{> modal_create_data this}}
  {{> modal_edit_data this}}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/sweetalert.min.js"></script>
  <script type="text/javascript" src="js/dashboard/dashboard.js"></script>
  <script type="text/javascript" src="js/table_to_excel.js"></script>
  <script type="text/javascript" src="js/kelola_role.js"></script>
  <script type="text/javascript">
  function updateRole(data, id) {
    const selected = $(data).children('option:selected')[0].innerText
    $.ajax({
      type: "POST",
      url: '/kelola_role',
      data: {
        id: id,
        role: selected
      },
      statusCode: {
        400: function(data) {
          alert(data.responseText)
        },
        200: function(data) {
          swal({
            title: "",
            text: "Role User Berhasil Disimpan!",
            type: "success",
            confirmButtonText: "Ok, Terimakasih"
          }, () => {
            setTimeout(() => {
              location.reload()
            }, 300)
          });
        }
      }
    })
  }
  </script>
</body>
</html>
